/* #region common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'gg sans SemiBold', sans-serif;
}
header {
    background-color: rgb(49, 97, 224);
}

.header_nav, .section_container,.footer_container {
    width: 80%;
    max-width: 1170px;
    margin: auto;
}

footer {
    background-color: rgb(35, 39, 42);
    min-height: 400px;
}

a {
    text-decoration: none;
}


h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    font-family: 'gg sans', sans-serif;
}

.col.col_4_12 {
    padding: 2rem;
}

:root {
    --head: rgb(49, 97, 224);
    --btn-dark: rgb(35, 39, 42);
    --btn-violet: rgb(142, 161, 225);
    --bg-wave: rgb(246, 246, 246);

} 

/* #endregion common */

/* #region header */
.header_nav {
    padding: 1rem 0;
    display: flex;
}

.left_nav, .right_nav {
    width: calc(100% / 12 * 2);
}

.center_nav {
    width: calc(100% / 12 * 8);
}

.header_nav a {
    color: white;
}

.left_nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.right_nav {
    display: flex;
    justify-content: flex-end;
}

.right_nav a {
    background-color: white;
    color: black;
    padding: 0.5rem 1.5rem;
    border-radius: 1.5rem;
}

/* #endregion header */

/* #region introduction */
.introduction {
    background-image: url("./../img/jumbo.png");
    background-size: cover;
}

.intro_content {
    width: 50%;
    min-height: 500px;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a {
    padding: 1rem 1.5rem;
    border-radius: 25px;
    margin: 0 1rem;
}

.intro_content .btn > a:first-of-type {
    background-color: white;
    color: black;
}

.intro_content .btn > a:last-of-type {
    background-color: var(--btn-dark);
    color: white;
}


.intro_content > div {
    padding: 1rem;
}

/* #endregion introduction */

/* #region sections */

.even {
    background-color: var(--bg-wave);
}


.section_container {
    padding: 3rem 0;
 }

.single_col .btn a {
    background-color: var(--btn-violet);
    color: white;
}


/* #endregion sections */

/* #region footer */
footer, footer a {
    color: white;
}

.footer_col h5 {
    padding: 1rem 0;
}

footer h2,footer h5 {
    color: var(--btn-violet);
}

.footer_col ul {
    list-style: none;
}


.footer_top {
    display: flex;
    padding-top: 4rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footer_bottom .btn a {
    background-color: var(--btn-violet);
    padding: 0.5rem;
}

.footer_col {
    padding: 2rem;
}

.flag {
    padding-bottom: 2rem;
}

.social i {
    padding-right: 1rem;
    font-size: 1.2rem;
}

/* #endregion footer */

/* #region utilities */

.col_2_12 {
    width: calc(100% / 12 * 2);
}

.col_8_12 {
    width: calc(100% / 12 * 8);
}

.col_4_12 {
    width: calc(100% / 12 * 4);
}

.r_180 {
    transform: rotate(180deg);
}

.flag > img {
    width: 1.5rem;
}

.footer_top li, .footer_top h5{
    font-size: 1rem;
}

.footer_top li {
    padding-bottom: 1rem;
}

.stars {
    background-image: url(./../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6rem;
    font-size: 1.8rem;
}

.row {
    display: flex;
}

.row.block {
    display: block;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    display: block;
    filter: invert(100%) sepia(91%) saturate(1114%) hue-rotate(191deg) brightness(125%) contrast(93%);
}
/* #endregion utilities */








/* #region debug */
  
.debug .intro_content {
    border: 2px dotted black;
}

.debug .intro_content > div {
    border: 2px dashed black;
}


.debug .even {
    border: 2px dotted black;
}

.debug .odd {
    border: 2px dotted black;
}

.debug .row > .col {
    border: 2px dotted black;
}

.debug .footer_bottom > div {
    border: 1px dotted;
}

/* #endregion debug */